.header {
  background-color: #B6124E !important;
}
.launcher {
  background-color: #F6F5E9 !important;
}
.conversation-container .client {
  background-color: #B6124E !important;
}
.full-screen .close-button, .conversation-container .toggle-fullscreen-button {
  background-color: #B6124E !important;
}
.conversation-container .title {
  color: #ffffff !important;
}


div.markdown *
{
    color: #424D74 !important;
}
